swagger: "2.0"
info:
  description: "Safe passage"
  version: "1.0.0"
  title: "Swagger Safe Passage"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "sigals@tikalk.com"
host: "tikal.safepassage.com"
basePath: "/v2"
schemes:
- "https"
- "http"
paths:
  /events:
    get:
      summary: "Get all events"
      responses:
        200:
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Event"
  /tickets/mint:
    post:
      summary: "Mint a new ticket"
      description: ""
      operationId: "mint"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Ticket"
      responses:
        "200":
          description: "Success"
  /tickets/send:
    post:
      summary: "Send a ticket"
      description: ""
      operationId: "send"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Transaction"
      responses:
        "200":
          description: "Success"
  /tickets:
    get:
      summary: "get nft tickets"
      description: ""
      operationId: "get"
      produces:
      - "application/json"
      parameters:
      - in: "query"
        type: "string"
        name: "wallet"
        description: "addres wallet"
        required: true
      responses:
        "200":
          description: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Ticket"
          
  /tickets/{ticketId}:
    get:
      summary: "verfiy nft"
      description: "verify nft"
      operationId: "verify"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "ticketId"
        in: "path"
        description: "ID of nft-ticket to verify"
        required: true
        type: "string"
      responses:
        "200":
          description: "verified"
          schema:
              $ref: "#/definitions/Event"

definitions:
  Event:
    type: "object"
    required:
      - "name"
      - "start_datetime"
      - "end_datetime"
    properties:
      event_name:
        type: "string"
        example: "Chug Skhiya"
      start_datetime:
        type: "string"
        format: "date-time"
      end_datetime:
        type: "string"
        format: "date-time"
  Ticket:
    type: "object"
    required:
      - "event_name"
      - "start_datetime"
      - "end_datetime"
      - "accompanied_id"
      - "companion_id"
      
    properties:
      event:
        $ref: "#/definitions/Event"
      accompanied_id:
        type: "string"
      companion_id:
        type: "string"
  Transaction:
    type: "object"
    required:
      - "nft_id"
      - "accompanied_wallet_id"
      - "companion_wallet_id"
      
    properties:
      nft_id:
        type: "string"
      accompanied_wallet_id:
        type: "string"
      companion_wallet_id:
        type: "string"
 
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"